<div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <form (ngSubmit)="onSignIn(signinform)" #signinform = "ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <input type="submit" value="SignIn" [disabled] = "signinform.invalid" class="btn btn-info">
        </div>
      </form>
    </div>
  </div>